.imp-note {
    padding-left: 24pt;
    border: 0.5pt solid #b0b040;
    border-radius: 4pt;
    background-color: #ffffef;
    padding-top: 8pt;
    padding-bottom: 8pt;
    background-image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20pt' height='10000'><rect fill='rgb(255, 240, 80)' x='0' y='0' width='100%' height='100%'/><text fill='rgb(180, 170, 50)' text-anchor='end' x='-10pt' y='14pt' font-family='Helvetica, Arial' transform='rotate(-90)'>Implementation Note</text></svg>");
    background-repeat: no-repeat;
    margin-bottom: 8pt;
}

.imp-note::before {
    width: 4px;
    background-color: green;
}
